/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: oklab(62.302% 0.17836 0.12025);
  --ifm-color-primary-dark:oklab(62.302% 0.17836 0.12025);
  --ifm-color-primary-darker: oklab(62.302% 0.17836 0.12025);
  --ifm-color-primary-darkest: oklab(62.302% 0.17836 0.12025);
  --ifm-color-primary-light: oklab(62.302% 0.17836 0.12025);
  --ifm-color-primary-lighter: oklab(62.302% 0.17836 0.12025);
  --ifm-color-primary-lightest: oklab(62.302% 0.17836 0.12025);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: oklab(62.302% 0.17836 0.12025);
  --ifm-color-primary-dark:oklab(62.302% 0.17836 0.12025);
  --ifm-color-primary-darker: oklab(62.302% 0.17836 0.12025):
  --ifm-color-primary-darkest:oklab(62.302% 0.17836 0.12025);
  --ifm-color-primary-light: oklab(62.302% 0.17836 0.12025);
  --ifm-color-primary-lighter: oklab(62.302% 0.17836 0.12025);
  --ifm-color-primary-lightest: oklab(62.302% 0.17836 0.12025);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
